<table>
    <tr>
        <td><img src="0001.jpg" /></td>
        <td><strong>Step 1.</strong> Open up a new IDLE session, or select the IDLE window that you already have open as your active window.</td>
    </tr>
    <tr>
        <td><img src="0002.jpg" /></td>
        <td><strong>Step 2.</strong> On the toolbar at the top, you should see <b>Debug</b> as the fourth option. Clicking on that will produce a dropdown menu. On this dropdown menu, you will want to click <b>Debugger</b>.</td>
    </tr>
    <tr>
        <td><img src="0003.jpg" /></td>
        <td><strong>Step 3.</strong> You should now see a new window, this one called <b>Debug Control</b>. If you don't see this window, then something has happened wrong; I might recommend opening a new IDLE session.</td>
    </tr>
    <tr>
        <td><img src="0004.jpg" /></td>
        <td><strong>Step 4.</strong> Now let's open the Python code that we want to debug in IDLE. Select this window to make it your active window.</td>
    </tr>
    <tr>
        <td><img src="0005.jpg" /></td>
        <td><strong>Step 5.</strong> Now we come to an integral part of the debugger &mdash; <i>breakpoints</i>. A breakpoint is an addendum to your code; when your Python code is running, if the Python interpretor (the thing which is executing your Python code) notices that you have put a breakpoint at the line it is about to execute, it will tell the debugger (if you have the debugger ON). At this point, the Python interpretor will pause running, and the debugger will pop up on your screen and present you with information about your program at that location (what part of the program you're in, what line of code you are on, and <u>what variables you have</u> at that point in the program and <u>what values they currently have</u>).<br /><br />So where do we *put* a breakpoint? That's up to you. You can technically put a breakpoint anywhere you want, but it will only be helpful to you if you know what is suppose to be happening at that point in the program &mdash; if what is suppose to be happening and what is actually happening aren't matching up, then we can see there is a problem to fix. If we were to run the program as it is, after asking for both numbers, the program seems to never end. But also, it doesn't <u>print(sum)</u>, so it seems that we have something happening in our loop that is preventing our program from continuing.<br /><br />So I want to set a breakpoint for some line within the loop. Right now, I'm not entirely sure what I'm looking for &mdash; all I really know is that I want to see what is happening inside the loop. Therefore, I don't care much which line of code I put a breakpoint on. It's possible &mdash; and sometimes helpful &mdash; to put multiple breakpoints in the same loop, or very close together, to see step-by-step what is happening. But right now, I'm just probing the loop, so I'll just set a breakpoint at a random line, here <u>sum = sum + k*k</u>. To set a breakpoint, we right-click with our mouse on the line of code we want the breakpoint on, and then select <b>Set Breakpoint</b>.</td>
    </tr>
    <tr>
        <td><img src="0006.jpg" /></td>
        <td><strong>Step 6.</strong> The line of code will now be highlighted with gold. This means that we have a breakpoint set at that point in our code. If the line isn't gold, then the breakpoint wasn't set.</td>
    </tr>
    <tr>
        <td><img src="0007.jpg" /></td>
        <td><strong>Step 7.</strong> So now let's see what our program is up to. Let's run our code (<b>Run</b> &rarr; <b>Run Module</b>).</td>
    </tr>
    <tr>
        <td><img src="0008.jpg" /></td>
        <td><strong>Step 8.</strong> The Python shell will now pop up (we can also see that it will have written <span style="color:maroon;">[DEBUG ON]</span> when we started the debugger earlier.</td>
    </tr>
    <tr>
        <td><img src="0009.jpg" /></td>
        <td><strong>Step 9.</strong> But almost immediately, the debugger will pop up. When we run a program and the debugger is on, it will always pop up before the program begins. In order to run our program, we have to tell the debugger to run our program. This happens because there are two main ways of running a program through the debugger &mdash; run sequentially (like we normally run a program), or run line-by-line (executing one line, then pausing and going to the debugger, then executing the next line, and so on, as if we had set a breakpoint for every line). We want to let our program run without asking us at each step &mdash; that is, until we reach the breakpoint.</td>
    </tr>
    <tr>
        <td><img src="0011.jpg" /></td>
        <td><strong>Step 10.</strong> Click on <b>Go</b>. This will tell the debugger to run all of the lines of code like it normally would. However, because we are in the debugger, when we reach a breakpoint, the program will halt executing as I described before.</td>
    </tr>
    <tr>
        <td><img src="0013.jpg" /></td>
        <td><strong>Step 11.</strong> Now that we've hit <b>Go</b>, the program is running like normal. Enter a number for both inputs &mdash; in this example, I choose 3 for a and 5 for b.</td>
    </tr>
    <tr>
        <td><img src="0015.jpg" /></td>
        <td><strong>Step 12.</strong> After we hit enter when entering the second number, the debugger will pop up &mdash; we hit our breakpoint within the loop! Towards the top, there seems to be a lot of junk text that looks confusing if we were to read it; but we'll notice that the highlighted entry ends in <u>sum = sum + k*k</u> &mdash; the line that we set our breakpoint on. This is python telling us that this is where we are right now.<br /><br />But let's take a look at where I have my mouse. In this section (called <i>Locals</i>), we have a breakdown of what variables we have right now, and what they are equal to. We can ignore the top couple of ones, because they don't pertain to us and we know that we aren't dealing with them in this program. If we look, we see that a = 3, b = 5 (just like we input), and that k = 5 as well.</td>
    </tr>
    <tr>
        <td><img src="0016.jpg" /></td>
        <td><strong>Step 13.</strong> Okay, so that's all good and all, but what use is this to us? Well, now that we've seen what the variables are currently equal to, let's let the loop continue. Go and hit <b>Go</b> again, and the debugger will still be there &mdash; but now, if we look down at the <i>Locals</i> section again, we can see that we have some changes. Now k = 6 and sum = 25. We can see that, compared to the previous <i>iteration</i> through the loop, they are increasing in value.</td>
    </tr>
    <tr>
        <td><img src="0018.jpg" /></td>
        <td><strong>Step 14.</strong> Click <b>Go</b> again. Now we can see that k = 7 and sum = 61. Still increasing.</td>
    </tr>
    <tr>
        <td><img src="0019.jpg" /></td>
        <td><strong>Step 15.</strong> Click <b>Go</b> once more. Now k = 8 and sum = 110. It would be safe to say that these are increasing during the loop. Through all this time, a and b have remained the same &mdash; a = 3 and b = 5. So what have we learned through all of this? Well, if we go back to our Python code, we'll see that we're in a loop that runs <u>while k>=a:</u>. But wait &mdash; we've just seen that a will never change (a = 3), and that k is increasing. Moreover, when we started out, k was equal to b (b = 5), which is suppose to always be larger than a (b > a). So this loop is never ending, because k will never be less than a!</td>
    </tr>
    <tr>
        <td><img src="0020.jpg" /></td>
        <td><strong>Step 16.</strong> Now that we've figured out what the problem is, we can click <b>Quit</b> to exit the debugger and end our program. Now we can go back to our <i>source code</i> and fix our problem with the loop. Perhaps if we were to make k become smaller instead of larger?<br /><br />The debugger gives you additional tools for the job, but it doesn't do everything for you &mdash; it's up to you to determine what is relevant information from what the debugger gives you, and then what it means and how to fix it.</td>
    </tr>
</table>